html {
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", FreeSans,
                 sans-serif;
}
body {
    margin: 0;
    font-size: 62.5%;
}
h1 {
    font-size: 3em;
}

/* -------------------------------------------------------------------------- */
/*
 *  OTHER OPTIONS
 */
.title {
    text-align: center;
}

#annexation-image { 
    margin: 0 auto;
    position: relative; 
    width: 650px;
    height: 500px; 
    background-image: url(../resources/annexation_map.jpg); 
}
#map-part1 { 
    position: absolute; 
    top: 78px; 
    left: 562px; 
    width: 75px; 
    height: 72px; 
    background-color: transparent; 
}
#map-part2 { 
    position: absolute; 
    top: 80px; 
    left: 380px; 
    width: 178px; 
    height: 72px; 
    background-color: transparent; 
} 
#map-part3 { 
    position: absolute; 
    top: 230px; 
    left: 192px; 
    width: 129px; 
    height: 148px; 
    background-color: transparent;
} 
#map-part4 { 
    position: absolute; 
    top: 158px; 
    left: 192px; 
    width: 129px; 
    height: 220px; 
    background-color: transparent;
} 
#map-part5 { 
    position: absolute; 
    top: 158px; 
    left: 115px; 
    width: 206px; 
    height: 220px; 
    background-color: transparent;
} 
#map-part6 { 
    position: absolute; 
    top: 80px; 
    left: 178px; 
    width: 460px; 
    height: 35px; 
    background-color: transparent; 
} 
#map-part7 {
    position: absolute; 
    top: 80px; 
    left: 178px; 
    width: 165px; 
    height: 72px; 
    background-color: transparent; 
}

#map-part1:hover, #map-part1.hovered, #map-part2:hover, #map-part2.hovered, 
#map-part3:hover, #map-part3.hovered, #map-part4:hover, #map-part4.hovered,
#map-part5:hover, #map-part5.hovered, #map-part6:hover, #map-part6.hovered,
#map-part7:hover, #map-part7.hovered { 
    background-color: red; 
    opacity: 0.5;
    filter: alpha(opacity=20);      
}

#map-part1.highlighted, #map-part2.highlighted, #map-part3.highlighted, 
#map-part4.highlighted, #map-part5.highlighted, #map-part6.highlighted, 
#map-part7.highlighted {
    background-color: blue;
}

.prompt {
    text-align: center;
}
#button {
    padding: 20px;
    font-size: 2em;
    cursor: pointer;
}